@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Doppio+One&family=Oxanium&family=Red+Rose&family=Tourney&display=swap');

html{
    font-size: 16px;
}

body{
    background-color: #FDE4B5;
    font-family: 'Oxanium', sans-serif;
    
}

a{
     text-decoration: none;
}

a:hover{
    color: #F2A1A1
}

.selected{
    color: #F2A1A1
}

.splashlogo{
    max-width: 20rem;
    margin: 18rem auto;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin: 3rem 
    
}

nav{
    font-family: 'Doppio One', sans-serif;
    color: #2F447A
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main{
    color: #2F447A
}

h1{
    font-family: Doppio One;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
 
}

h2{
    font-family: Oxanium;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;

}

footer{
    color: #2F447A
    font-family: 'Doppio One', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
