@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Doppio+One&family=Oxanium&family=Red+Rose&family=Tourney&display=swap');

html{
    font-size: 16px;
}

body{
    background-color: #FDE4B5;
    font-family: 'Oxanium', sans-serif;
    max-width: 88rem;
    margin: auto; 
    
}

img{
    max-width: 100%;
    max-height: 650px;
}

a{
     text-decoration: none;
}

a:hover{
    color: #F2A1A1
}

.selected{
    color: #F2A1A1
}

.splashlogo{
    max-width: 20rem;
    margin: 18rem auto;
}

header{
    width: 75%; 
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img{
    margin: 3rem; 
    width: 300%; 
    
}

nav{
    font-family: 'Doppio One', sans-serif;
    color: #2F447A; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a{
    margin: 0 0 0 2rem; 
}


main{
    color: #2F447A
}

section{
    margin: 5rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 1.5rem;
    grid-auto-flow: dense;
}

#tagline {
    text-align: center;
    grid-column: 1/12;
}
.firsttitle{
    grid-column: 1/6; 
}

.firstimg{
    grid-column: 6/12; 
}

.secondimg{
    grid-column: 1/6; 
}

.seconddescription{
    grid-column: 7/11; 
    align-self: start;

}

.thirdimg{
    grid-column: 6/12;
}

.secondtitle{
    grid-column: 1/12;
}

.fourthimg{
    grid-column: 3/12;
    margin: auto;
    
}

.thirdtitle{
    grid-column: 1/12;
}

.fifthimg{
    grid-column: 1/6;
}

.sixthimg{
    grid-column: 6/12;
}

#bio{
    grid-column: 3/6;
}



h1{
    font-family: Doppio One;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
 
}

h2{
    font-family: Oxanium;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;

}

footer{
    width: 75%; 
    margin: auto; 
    color: #2F447A; 
    font-family: 'Doppio One', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
